body {
  display: block;
  overflow-x: hidden;
}
nav {
  background-color: white;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #161a30;
}
.navbar ul li a {
  color: #b6bbc4;
  font-size: 1.5rem;
  margin: auto 1rem;
  transition: transform 330ms ease-in-out;
}
.navbar ul li a:hover {
  transform: scale(1.1);
}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #161a30;
  text-align: left;
  margin-bottom: 2rem;
}
section p {
  font-size: 1.5rem;
  font-weight: 300;
}
button {
  max-width: 50%;
  border-radius: 50px !important;
}
#about-me .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
#about-me .img-col {
  justify-content: flex-end;
  margin-top: 5rem;
}
#about-me img {
  max-width: 130% !important;
  width: 130%;
}
#about-me .card {
  box-shadow: 11px 7px 16px #f0ece5;
  border: 0;
  text-align: center;
}
#about-me .icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1.2rem;
}
